<div class="team-member">
  <div class="team-member-image">
    <img src="{{ person.image }}" alt="{{ person.name }}" class="profile-picture">
    <h3>
      <a href="{{ person.url }}" class="team-member-name">{{ person.name }}</a>
    </h3>
  </div>
  <div class="team-member-details">
    <p class="team-member-research"><strong>Research Interests:</strong> {{ person.research_interests }}</p>
    <p class="team-member-about"><strong>About:</strong> {{ person.about }}</p>
    {% if person.linkedin %}
      <p class="team-member-linkedin"><a href="{{ person.linkedin }}">LinkedIn</a></p>
    {% endif %}
  </div>
</div>
